/*
* [TEMPLATING] - DESKTOP LESS - LAYOUT
*/

*,
*:before,
*:after {
  .box-sizing(border-box);
}

/* THIS IS THE EQUIVALENT OF PROPERTIES CSS -> "outline: o;" FOR BROWSER DESKTOP
*  BUT FOR BROWSER MOBILE & TABLET WITH THE PROPERTIES CSS -> "-webkit-tap-highlight-colorrgba: (0,0,0,0);"
*/
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

html {
  font-size: 62.5%;
  font-family: @font-family;
}

body {
  -webkit-font-smoothing: antialiased;
  background:@wa-white;
  font-size: 1.4rem;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:active,
a:focus{
  outline: 0;
}

a{
  text-decoration: none;
}

h1{
  font-size: 5rem;
}

.diamsContainer{
  padding-top: 52px;
}

.diamsFrameContainer{
  margin: 0 auto;
  max-width: 1210px;
  width: 100%;

  .diamsNavContainer{
    position: fixed;
    margin-top: 80px;
  }
  .diamsMainContent{
    margin-left: 300px;

    .diamsContent,
    .diamsColumnContent{
      float: left;
    }

    .diamsContent{
      width: 79%;
    }

    .diamsColumnContent{
      width: 20%;
    }
  }
}
