.diamsNavContainer{
  background: url('../../images/axa-logo.jpg') no-repeat center 0;
  background-size: 60px;
  position: fixed;
  padding-top: 80px;

}
.diamsNavigation{

  .diamsList{
    padding: 4px 0;
  }

  a{
    font-size: 1.6rem;
    &:hover{
      opacity: 0.8;
    }
  }
}