<!--
<h1>Liste personnes</h1>
<script id="example-template" type="text/x-handlebars-template">
    <ul>
        {{#each people}}
        <li>
            <p>ID Client : {{id}}</p>
            <ul>
                {{#each properties}}
                <li>
                    <p>Prénom : {{firstName}}</p>
                    <p>Nom : {{lastName}}</p>
                    <p>Sexe : {{sexe}}</p>
                    <p>Age : {{age}}</p>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>
</script>-->
